<!DOCTYPE html>
<html>
<head>
    <title>LoginApp</title>
    <link rel="stylesheet" href="/CSS/bootstrap.css"/>
    <link rel="stylesheet" href="/CSS/style.css"/>
</head>
<body>

{{{body}}}

</body>
</html>